/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


.posts{
    display: inline;
    overflow-y: scroll;
}
.posts::-webkit-scrollbar{
    overflow-y: hidden;
}
body{
    margin: 0;
    padding: 0;
    background: none;
}
input.form-control{
    width: 100%;
    background-color: rgb(10, 10, 10);
    border: 2px solid rgb(0, 255, 0);
}
::placeholder{
    color: rgb(0, 255, 0);
}


.navbar{
    background: rgb(0, 0, 0);
    border-top: 2px solid rgb(66, 66, 66);
}
.nav-link{
    font-size: 13px;
    width: 300%;
    border: 1px solid white;
    border-radius: 5px;
    color: rgb(0, 255, 0);
    text-decoration-style: none;
}
.date{
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.user-info{
    font-size: 11px;
    color: #fff;
}
.avatar{
    border: 3px solid rgb(0, 255, 0);
}

.file-label {
    background-color: rgb(0, 255, 0);
    color: white;
    padding: 6px;
    cursor: pointer;
    margin-top: 1rem;
  }
  [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  [type="btn"] {
      visibility: hidden;
    height: 0;
    overflow: hidden;
    width: 0;
  }
  .upload-label{
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
    padding: 6px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
@media (max-width: 700px) {
    .nav-link{
        font-size: 13px;
        width: 120%;
        border: 1px solid white;
        border-radius: 5px;
        color: rgb(0, 255, 0);
        text-decoration-style: none;
    }
    .date{
        font-size: 8px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .user-info{
        font-size: 10px;
        color: #fff;
    }
    [type="btn"]{
        max-width: 10%; 
    }
    
}