/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');



body{
    margin: 0;
    padding: 0;
    background: none;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900px;
    font-size: 50px;
    color: rgb(0, 255, 0);
}
hr{
    background: rgb(66, 66, 66);
}
input.form-control{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 255, 0);
}
.custom-file{
    width: 40%;
}
.custom-file-label{
    border: 2px solid rgb(0, 255, 0);
}
.btn{
    width: 100%;
}

h1{
    color: white;
}
.nav-link{
    border: 5px solid white;
    border-radius: 15px;
    color: rgb(0, 255, 0);
    text-decoration-style: none;
}