/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


/*GOOGLE FONTS*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');*/

/*MAIN*/
/*body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900px;
    font-size: 50px;
    color: #00ffbe;
}
#heading{
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(66, 66, 66);
}
.signin-text{
    font-size: 21px;
}
.btn{
    background: #00ffbe;
    color: #000000;
    border: 2px solid #00ffbe;
    box-shadow: 0px 0px 20px #00ffbe;
    width: 100%;
}
.btn:hover{
    color: rgb(255, 255, 255);
    background: #000000;
    border: 2px solid #00ffbe;
    box-shadow: 0 0 0 #000000;
}
#img-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: #0d0d0d;
}
@media (max-width: 765px) {
    .heading{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 900px;
        font-size: 454px;
        color: #00ffbe;
    }
    
    #img-grid{
        display: none;
        margin: 0;
        padding: 0;
    }
}*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.main-credential {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
		margin-top: 20px;
}

h1 {
    font-weight: bold;
    margin: 0;
}
h3{
    font-weight: bold;
    color: #00e472;
}
p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

span {
    font-size: 13px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 1px 0;
}
a:hover{
    text-decoration: none;
    color: #00e472;
}
::placeholder {
    color: #3a3a3a;
    font-weight: 600;
}
nav{
    background: #131313;
}
.fixed-top{
    border: 2px solid #00e472;
}
.navbar .navbar-brand{
    color: #00e472;
    
}
.form-title{
    margin-top: 30px;
}
.form-container form {
    background: #131313;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}



.form-container input {
    background: #eee;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.sign-up-container{
    margin-top: 55rem;
}

.btn{
    border: 2px solid #00e472;
}
.btn:hover{
    background: #00e472;
    color: #000000;
    border: 2px solid #00e472;
    box-shadow: 0 0 10px #00e472;
}

button {
    border-radius: 8px;
    border: 2px solid #00e472;
    background: rgb(17, 17, 17);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .10s ease-in;
}

button:active {
    transform: scale(.95);
}
button:hover{
    background: #00e472;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 15px #00e472;
}

button:focus {
    outline: none;
}

button.ghost {
    color: #000000;
    background: transparent;
    border-color: rgb(0, 0, 0);
}
button.ghost:hover {
    background: rgb(22, 22, 22);
    color: #ffffff;
    border: none;
    box-shadow: 0px 0px 15px #000000;
}






.footer {
	margin-top: 25px;
	text-align: center;
}


@media (max-width: 765px) {
    .navbar-brand {
        font-size: 20px;
    }
}