/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

/*MAIN*/
body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900px;
    font-size: 50px;
    color: #00ffbe;
}
#heading{
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(66, 66, 66);
}
.signin-text{
    font-size: 22px;
}
.btn{
    background: #00ffbe;
    color: #000000;
    box-shadow: 0px 0px 20px ##00ffbe;
    width: 100%;
}
.btn:hover{
    color: rgb(255, 255, 255);
    background: #000000;
    border: 2px solid #00ffbe;
    box-shadow: 0 0 0 #000000;
}
#img-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: #0d0d0d;
}

@media (max-width: 765px) {
    
    #img-grid{
        display: none;
        margin: 0;
        padding: 0;
    }
}
