.Navbar{
    margin: 0;
    padding: 0;
    background: none;
}
.bg-dark {
    background-color: #0d0d0d!important;
    border-bottom: 1px solid rgb(66, 66, 66);
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900px;
    font-size: 40px;
    color: #00e472;
}
.sub-brand-name{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.50rem;
}
.dropdown-menu{
    background: none;
}
button.navbar-toggler{
    background-color: #202020;
    padding-bottom: 6px;
    box-shadow: none;
    border: none;
    outline: none;
}
.navbar-toggler:hover{
    background: none;
    box-shadow: none;
}
.navbar-toggler:focus{
    background: none;
    box-shadow: none;
}
.navbar-toggler-icon{
    font-size: 15px;
}
.dropdown-toggle{
    border: none;
}
.button{
    background: none;
}
.user-name{
    font-size: large;
    font-weight: bolder;
    color: #00e472;
}
img.avatar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 41px;
    height: 41px;
    line-height: 1px;
    border-radius: 15%;
    overflow: hidden;
    border: 1px solid #2b2b2b;
}
#signoutbtn{
    margin-top: 5px;
    background: #00e472;
    color: #000000;
    border: 1px solid #00e472;
    box-shadow: 0 0 0 #000000;
    width: 100%;
}
#signoutbtn:hover{
    margin-top: 5px;
    color: rgb(255, 255, 255);
    background: #0d0d0d;
    border: 1px solid #00e472;
    box-shadow: 0 0 0 #000000;
}
.btn{
    box-shadow: none;
}

@media (max-width: 700px) {
    .heading{
        margin: 0 auto;
        font-family: 'Poppins', sans-serif;
        font-weight: 900px;
        font-size: 25px;
        color: #00e472;
    }
    .sub-brand-name{
        margin-top: 2px;
        margin-left: 2px;
        font-size: 1rem;
    }
    .avatar{
        border: 2px solid #00e472;
        margin-top: 10px;
    }
    .user-name{
        padding-top: 10px;
    }
    #signoutbtn{
        color: rgb(255, 255, 255);
        background: #0d0d0d;
        border: 1px solid #00e472;
        box-shadow: 0 0 0 #000000;
        width: 100%;
    }
    #signoutbtn:hover{
        background: #00e472;
        color: #000000;
        border: 1px solid #00e472;
        box-shadow: 0px 0px 20px #00e472;
        }
        .btn{
            box-shadow: none;
        }
    .nav-item{
        border-top: 1px solid rgb(66, 66, 66);
    }
}