body{
    margin: 0;
    padding: 0;
    background: none;
}
.bg-dark {
    background-color: #000000!important;
    border-bottom: 2px solid rgb(66, 66, 66);
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900px;
    font-size: 40px;
    color: #00ffbe;
}
.dropdown-menu{
    background: none;
}
button.navbar-toggler{
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
}
.navbar-toggler:hover{
    background: none;
    box-shadow: none;
}
.navbar-toggler:focus{
    background: none;
    box-shadow: none;
}
.dropdown-toggle{
    border: none;
}
.button{
    background: none;
}
.user-name{
    font-size: large;
    font-weight: bolder;
    color: #00ffbe;
}
.avatar{
    border: 3px solid #00ffbe;
}
#signoutbtn{
    background: #00ffbe;
    color: #000000;
    box-shadow: 0px 0px 20px #00ffbe;
    width: 100%;
}
#signoutbtn:hover{
    color: rgb(255, 255, 255);
    background: #000000;
    border: 2px solid #00ffbe;
    box-shadow: 0 0 0 #000000;
    margin: auto;
}
.btn{
    box-shadow: none;
}

@media (max-width: 700px) {
    .heading{
        margin: 0 auto;
        font-family: 'Poppins', sans-serif;
        font-weight: 900px;
        font-size: 25px;
        color: #00ffbe;
    }
    .avatar{
        border: 2px solid #00ffbe;
        margin-top: 10px;
    }
    .user-name{
        padding-top: 10px;
    }
    #signoutbtn{
        color: rgb(255, 255, 255);
        background: #000000;
        border: 2px solid #00ffbe;
        box-shadow: 0 0 0 #000000;
        width: 100%;
        text-transform: capitalize;
    }
    #signoutbtn:hover{
        background: #00ffbe;
        color: #000000;
        border: 2px solid #00ffbe;
        box-shadow: 0px 0px 20px #00ffbe;
        }
        .btn{
            box-shadow: none;
        }
    .nav-item{
        border-top: 2px solid rgb(66, 66, 66);
    }
}